*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: $color-default-black;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  font-family: $ff-montserrat;
  color: $color-default-white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

#modal-root {
  position: relative;
  z-index: 10;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom, $color-accent 20%, $color-bg 20%);

  header,
  footer {
    flex-shrink: 0;
  }
  main {
    flex-grow: 1;
    overflow: auto;
  }
}
